.mh-100px{
    max-height: 100px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-image{
    align-self: center;
    padding-top:10px;
    width:130px;
    height: 300px;
    max-width:140px;
    max-height: 300px;
    border-radius: 1px;
}

.product-hover:hover{
    border:solid 1px;
}
